body {
background-color: #2B1F7D;
justify-content: center;
align-items: center;
}

.main-content {
	text-align: center;
	margin-left: 186px;
	margin-right: 186px;
}

.bottom-margin {
	margin-bottom: 80px;
}

.tarot-card {
	border: 1px solid #000;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 600px;
	margin: auto;
	margin-bottom: 80px;
}

.tarot-card img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}


button {
	padding: 10px 8px 10px 8px;
	background-color: #F5D083;
	font-size: 16px;
	border-radius: 4px;
}