html, body {
	height: 100%;
	margin: 0;
	padding: 0;
background-color: #171629;
justify-content: center;
align-items: center;
}

.content {
	min-height: calc(100vh - 60px);
	margin: 0; 
	padding: 0; 
	background-color: #171629;
}

.main-content {
	text-align: center;
	margin-left: 186px;
	margin-right: 186px;
}

h1 {
	color: #0E84DA;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 600;
	height: 60px;
	margin: 60px;
}

.neon-effect {
	padding: 24px 24px;
	border: 0.2px solid #0E84DA;
	border-radius: 10px; /* Rounded corners */
	box-shadow:
			0 0 5px #0E84DA, /* Inner shadow */
			0 0 5px #0E84DA, /* Medium glow */
			0 0 5px #0E84DA, /* Outer glow */
			0 0 40px #0E84DA; /* Far glow */
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

.bottom-margin {
	margin-bottom: 80px;
}

h2 {
	color: #B1D6E5;
	font-family: 'Lora';
	font-size: 28px;
	font-weight: 400;
}
.bottom-margin-small {
	margin-bottom: 60px;
}

.tarot-card {
	/*border: 1px solid #000;*/
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 600px;
	margin: auto;
	margin-bottom: 80px;
}

.tarot-card img {
	max-width: 350px;
	max-height: 600px;
	object-fit: cover;
	display: block;
}

button {
	padding: 10px 8px;
	background-color: #F4418F;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border-radius: 4px;
	border: none;
}

button:hover {
	background-color: #B82E6A;
}

.fortune {
	font-family: 'Montserrat';
	color:#B1D6E5;
	font-size: 20px;
}

.disclaimer {
	font-family: 'Montserrat', sans-serif;
	color: #DAF1A0;
	font-size: 14px;
}

footer {
	height: 60px;
	margin: 60px;
}