body {
background-color: #141322;
justify-content: center;
align-items: center;
}

.main-content {
	text-align: center;
	margin-left: 186px;
	margin-right: 186px;
}

h1 {
	color: #79C0C8;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 400;
}

.bottom-margin {
	margin-bottom: 80px;
}

h2 {
	color: #689499;
	font-family: 'Fairplay display';
	font-size: 24px;
	font-weight: 400;
}
.bottom-margin-small {
	margin-bottom: 60px;
}

.tarot-card {
	border: 1px solid #000;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 600px;
	margin: auto;
	margin-bottom: 80px;
}

.tarot-card img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

button {
	padding: 10px 8px 10px 8px;
	background-color: #F4418F;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 4px;
}

.fortune {
	font-family: 'Fairplay display';
	color:#689499;
	font-size: 20px;
}